p#footer {
  border-top-style: solid;
  border-width: 1px;
  padding-top: 2px;
  font-size: 75%;
}

table#results {
  border-collapse: collapse;
}
table#results td {
  padding: 4px;
  border: 1px black solid;
}
table#results th {
  padding: 4px 16px 4px 4px;
  border: 1px black solid;
}
table#results th { font-weight: bold; }
table#results th { background-color: #eeeeff; }
table#results tr:nth-child(3n+3) { background-color: #f0f0f0; }
table#results tr.error { background-color: #b267fc; }
table#results tr .hostname { text-align: right; }
table#results td.error { background-color: #b267fc; }
table#results td.warning { background-color: #ffffaa; }
table#results td.tiny { font-size: 50%; }
table#results td.age0 { background-color: #50f442; } /* green */
table#results td.age1 { background-color: #89f442; }
table#results td.age2 { background-color: #bcf442; }
table#results td.age3 { background-color: #f4f142; } /* yellow */
table#results td.age4 { background-color: #f4c842; } /* orange */
table#results td.age5 { background-color: #f48c42; }
table#results td.age6 { background-color: #f66666; } /* red */
table#results td.age7 { background-color: #ff4444; } /* red */
table#results td.age8 { background-color: #ff0000; } /* red */
table#results td.age9 { background-color: #c00000; }
table#results td.age10{ background-color: #900000; }
table#results td.ageunknown{ background-color: #34897c; } /* teal */
table#results span.aliaserror { font-weight: bold; color: red; }
table#results span.aliaswarning { font-weight: italic; color: yellow; }

table#hiera {
  border-collapse: collapse;
}
table#hiera td {
  padding: 4pt;
  border: 1px black solid;
  vertical-align: top;
}
table#hiera td.trace { font-style: italic; }
table#hiera span.main { font-style: italic; }
table#hiera span.tracesetwarning { font-weight: bold; color: red; }
table#hiera td.error { background-color: #b267fc; }
table#hiera td.age0 { background-color: #50f442; } /* green */
table#hiera td.age1 { background-color: #89f442; }
table#hiera td.age2 { background-color: #bcf442; }
table#hiera td.age3 { background-color: #f4f142; } /* yellow */
table#hiera td.age4 { background-color: #f4c842; } /* orange */
table#hiera td.age5 { background-color: #f48c42; }
table#hiera td.age6 { background-color: #f66666; } /* red */
table#hiera td.age7 { background-color: #ff4444; } /* red */
table#hiera td.age8 { background-color: #ff0000; } /* red */
table#hiera td.age9 { background-color: #c00000; }
table#hiera td.age10{ background-color: #900000; }
table#hiera td.ageunknown{ background-color: #34897c; } /* teal */

.tablesorter .filtered {
  display: none;
}

.tablesorter .header,
.tablesorter .tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
.tablesorter .headerSortUp,
.tablesorter .tablesorter-headerSortUp,
.tablesorter .tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter .headerSortDown,
.tablesorter .tablesorter-headerSortDown,
.tablesorter .tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter thead .sorter-false {
  background-image: none;
  cursor: normal;
}

/* All of the following css is already contained within each theme file; modify it as desired */
/* filter row */
.tablesorter-filter-row td {
  background: #eee;
  line-height: normal;
  text-align: center; /* center the input */
  -webkit-transition: line-height 0.1s ease;
  -moz-transition: line-height 0.1s ease;
  -o-transition: line-height 0.1s ease;
  transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-filter-row .disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: not-allowed;
}

/* hidden filter row */
.tablesorter-filter-row.hideme td {
  /*** *********************************************** ***/
  /*** change this padding to modify the thickness     ***/
  /*** of the closed filter row (height = padding x 2) ***/
  padding: 2px;
  /*** *********************************************** ***/
  margin: 0;
  line-height: 0;
  cursor: pointer;
}
.tablesorter-filter-row.hideme * {
  height: 1px;
  min-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  /* don't use visibility: hidden because it disables tabbing */
  opacity: 0;
  filter: alpha(opacity=0);
}

/* filters */
.tablesorter-filter {
  width: 95%;
  height: inherit;
  margin: 4px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #bbb;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: height 0.1s ease;
  -moz-transition: height 0.1s ease;
  -o-transition: height 0.1s ease;
  transition: height 0.1s ease;
}
